.header {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    &__logo {
      position: relative;
      z-index: $z-999;
    }
    &__menu {
      @media screen and (max-width: 768px) {
        position: fixed;
        background-color: $dark-color;
        width: 100%;
        height: 100%;
        right: 0;
        top: -100%;
        z-index: $z-100;
        transition: $trans-cubic;
      }
      .menu__list {
        display: flex;
        flex-direction: column;
        height: 100%;
        row-gap: 1rem;
        align-items: center;
        justify-content: center;
        @include breakpoint(md) {
          flex-direction: row;
          column-gap: 1.5rem;
        }
      }
    }
    // Show menu
    .show-menu {
      @media screen and (max-width: 768px) {
        top: 0;
      }
    }
    &__hamburger {
      width: 3.125rem; // 50px
      height: 1.875; // 30px
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: $z-999;
      .hamburger__btn {
        height: 1.5rem; // 24px
        width: 2.5rem; // 40px
        cursor: pointer;
        .bar {
          width: 2.5rem; // 40px
          height: 0.125rem; // 2px
          background-color: $white-color;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          margin: auto;
          transition: $trans-cubic;
          border-radius: 0.375rem; // 6px
          &::before,
          &::after {
            content: "";
            position: absolute;
            height: 0.125rem; // 2px
            left: 0;
            background-color: $white-color;
            transition: $trans-cubic;
            border-radius: 0.375rem; // 6px
          }
          &::before {
            width: 30px;
            transform: translateY(-0.5rem); // -8px
          }
          &::after {
            width: 23px;
            transform: translateY(0.5rem); // 8px
          }
        }
      }
    }
    // Cross hamburger and show menu
    .cross-hamburger {
      .hamburger__btn {
        .bar {
          background-color: transparent;
          &::before {
            width: 2.25rem; // 36px
            transform: translateY(0) rotate(45deg);
          }
          &::after {
            width: 2.25rem; // 36px
            transform: translateY(0) rotate(-45deg);
          }
        }
      }
    }
    &__account {
      display: flex;
      align-items: center;
      column-gap: 0.3rem;
    }
  }
}
