.hero__section {
  height: calc(100vh - 3rem);
  margin-top: 6.25rem; // 100px
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 25rem; // 400px
    background-image: linear-gradient(to bottom, $dark-color, transparent);
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: -1;
  }
  .hero__img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    left: 0;
    &-top {
      top: 0;
    }
    &-middle {
      top: 25%;
    }
    &-bottom {
      top: 40%;
    }
  }
  .hero__container {
    position: relative;
    z-index: $z-1;
    @include breakpoint(sm) {
      width: 31.25rem; // 500px
      margin-left: auto;
      margin-right: auto;
    }
    @include breakpoint(md) {
      width: 37.5rem; // 600px
    }
    @include breakpoint(lg) {
      width: 40.625rem; // 650px
    }
    .hero__data {
      .hero__tagline {
        margin-bottom: $x-1;
        @include breakpoint(md) {
          margin-bottom: $x-1-5;
        }
      }
      .hero__title {
        margin-bottom: $x-1;
        @include breakpoint(md) {
          margin-bottom: $x-1-5;
        }
      }
      .hero__button {
        &--icon {
          transform: translateY(0);
          animation: up-down 1000ms ease-in-out infinite;
        }
        @keyframes up-down {
          0% {
            transform: translateY(-0.3125rem); // 5px
          }
          50% {
            transform: translateY(0.3125rem); // 5px
          }
          100% {
            transform: translateY(-0.3125rem); // 5px
          }
        }
      }
    }
  }
}
