/*=================== BASE ===================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: $dark-color;
  color: $white-color;
  font-family: $body-font;
  overflow: overlay;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1 {
  font-family: $title-font;
  color: $white-color;
  letter-spacing: 0.1rem;
  font-size: $big-font;
  @include breakpoint(sm) {
    font-size: $biggest-font;
  }
  @include breakpoint(md) {
    font-size: 2.5rem;
  }
  @include breakpoint(lg) {
    font-size: 3rem;
  }
}
a {
  text-decoration: none;
  color: $white-color;
  font-weight: $medium;
  font-size: $normal-font;
  transition: $trans-ease;
  @include breakpoint(md) {
    font-size: 1rem;
  }
}
a:hover {
  color: $accent-color;
}
i {
  font-size: 1.3rem;
}
img {
  max-width: 100%;
  height: auto;
}
