/*=================== LAYOUT ===================*/
.container {
  max-width: 1168px;
  margin-right: $x-1;
  margin-left: $x-1;
  @include breakpoint(sm) {
    margin-right: $x-1-5;
    margin-left: $x-1-5;
  }
  @include breakpoint(md) {
    margin-right: $x-2;
    margin-left: $x-2;
  }
  @include breakpoint(lg) {
    margin-right: $x-3;
    margin-left: $x-3;
  }
  @include breakpoint(xl) {
    margin-right: auto;
    margin-left: auto;
  }
}
/*=================== REUSEABLE CLASSES ===================*/
.d-grid {
  display: grid;
}
.d-flex {
  display: flex;
}
.hide-for-mobile {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}
.hide-for-desktop {
  @media screen and (min-width: 767px) {
    display: none !important;
  }
}
